.search-bar {
  width: 45%;
  height: 40px;
  margin: 0;
  margin-bottom: 32px;
  border-radius: 10px;
  padding: 8px;
}

@media (max-width: 768px) {
  .search-bar {
    width: 58%;
    height: 60px;
  }
}
